.aboutImage {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutTopContainer{
  background-color: rgb(202, 235, 255);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-top: -1.74%;
  /*margin-right: 50%;*/
  /*text-align: center;*/
  top: 40;
}

.aboutCaptionBold{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}

.column{
  float: left;
  width: 33.33%;
  padding: 0px;
  padding-top: 0px;
}

.row1::after{
  content: "";
  clear: both;
  display: table;
}

.column img{
  vertical-align: bottom;
}

.aboutHistoryContainer h2{
  text-align: left;
}


.historyExplanation {
  font-family: arial, sans-serif;
   display: flex; 
  align-items: flex-start; 
  gap: 20px; 
}

.historyText {
  border: 1px solid #f5f5f5;
  text-align: left;
  padding: 8px;
  /*width: 350px;*/
  vertical-align: top;
  flex: 1;
}

.historyImage{
  max-width: 100%;
  height: auto;
  display: block;
}

.historyImageContainer{
  flex-shrink: 0;
}

.aboutHistoryContainer{
  border-collapse: collapse;
}

.horizontalLine{
  border-color: #f9f9f9;
}



.faqQuestions{
  background-color: #e4e4e4;
  border-radius: 10px;
  font-size: 1.2em;
}

.faqAnswer, .faqList{
  text-align: left;
  font-size: 1.2em;
}

